/* app/javascript/stylesheets/application.scss */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Add any custom CSS here */

.banner {
  min-height: 75vh;

  .banner-image {
    background-image: url("~banner.jpg");
    min-height: 600px;
  }
}
